@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HW4.Models.Pilot
<h2>Удаление пилота</h2>
<dl>
    <dt>Имя</dt>
    <dd>
        @Html.DisplayFor(model => model.name)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}